ctext = #464650
cheader = black

br = 0.25em
bl = #c6c6c6
bs =
    box-shadow 0 0.35em 0.5em rgba(0, 0, 0, 0.2)
bsa =
    box-shadow 0 0.75em 2em rgba(0, 0, 0, 0.2)
trans =
    transition 0.25s ease all

@require '3rdParty/*.styl'

@require elements
@require basicLayout
@require typography
